In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [20]:
import pandas as pd
import os

def load_data(path="drive/MyDrive/Colab Notebooks/Machine Learning/"):
    csv_path = os.path.join(path, "ACME-HappinessSurvey2020.csv")
    return pd.read_csv(csv_path)

In [18]:
Survey.head()

   Y  X1  X2  X3  X4  X5  X6
0  0   3   3   3   4   2   4
1  0   3   2   3   5   4   3
2  1   5   3   3   3   3   5
3  0   5   4   3   3   3   5
4  0   5   4   3   3   3   5

In [52]:
df=Survey

In [53]:
del df['Y']

In [64]:
df

     X1  X2  X3  X4  X5  X6
0     3   3   3   4   2   4
1     3   2   3   5   4   3
2     5   3   3   3   3   5
3     5   4   3   3   3   5
4     5   4   3   3   3   5
..   ..  ..  ..  ..  ..  ..
121   5   2   3   4   4   3
122   5   2   3   4   2   5
123   5   3   3   4   4   5
124   4   3   3   4   4   5
125   5   3   2   5   5   5

[126 rows x 6 columns]

In [60]:
# Splitting dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df,Survey.iloc[:,0], test_size=0.3, random_state=42)

In [61]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

bag_clf = BaggingClassifier(
    DecisionTreeClassifier(splitter="random", max_leaf_nodes=16, random_state=42),
    n_estimators=500, max_samples=1.0, bootstrap=True, n_jobs=-1, random_state=42)

In [62]:
bag_clf.fit(X_train, y_train)
y_pred = bag_clf.predict(X_test)

In [63]:
from sklearn.metrics import accuracy_score
print("Accuracy of bagging classifier on train dataset is:",accuracy_score(y_train, bag_clf.predict(X_train)))
print("Accuracy of bagging classifier on test dataset is:",accuracy_score(y_test, y_pred))

Accuracy of bagging classifier on train dataset is: 1.0
Accuracy of bagging classifier on test dataset is: 0.9736842105263158

In [67]:
from sklearn.ensemble import RandomForestClassifier
rnd_clf = RandomForestClassifier(n_estimators=500, n_jobs=-1, random_state=42)
rnd_clf.fit(df, Survey.iloc[:,0])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=-1, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [68]:
rnd_clf.feature_importances_

array([0.68792237, 0.03472428, 0.04454302, 0.04573375, 0.06217758,
       0.12489899])

In [ ]:
#It occurs that X1 is the most important feature, as for X2 is the most unecessary feature which can be removed from the survey and replaced